<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add
        id="MiniOrange_FormFetch::FormFetch"
        title="Form Fetch Plugin"
        module="MiniOrange_FormFetch"
        sortOrder="52"
        resource="MiniOrange_FormFetch::FormFetch"
    />
</menu>
</config>
